body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
}
